.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 0vh);
  background-color: darkslategrey;
}
.counter {
  background-color: darkseagreen;
  max-width: calc(100% - 50%);
  /* height: 81px; */
  padding: 2rem;
  border: solid grey;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.counter h1 {
  font-size: 4rem;
}
.counter button {
  background-color: bisque;
  border: none;
  outline: none;
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
